---
import ToggleTheme from "$ui/theme/ToggleTheme.svelte";
import ChangeLocalePopover from "$ui/locale/ChangeLocalePopover.svelte";
import NavbarLink from "./NavbarLink.astro";
import type { NavbarLinkProps } from "./types";
import { useTranslations } from "$i18n/utils";
import { EAppLanguages } from "$i18n/types";
import Logo from "$ui/logo/Logo.astro";

const currentLang = (Astro.currentLocale ?? EAppLanguages.ENGLISH) as EAppLanguages;

const translateNavbarElements = useTranslations(currentLang);

const navbarLinks: NavbarLinkProps[] = [
  { href: "#about-me", text: translateNavbarElements("components.shared.ui.navbar.about") },
  { href: "#experience", text: translateNavbarElements("components.shared.ui.navbar.experience") },
  { href: "#projects", text: translateNavbarElements("components.shared.ui.navbar.projects") },
  { href: "#contact", text: translateNavbarElements("components.shared.ui.navbar.contact") }
];

---

<header class="fixed top-0 w-full bg-background/80 backdrop-blur-md border-b border-border z-50">
  <div class="max-w-6xl mx-auto px-6 py-4">
    <div class="mx-auto h-full flex items-center justify-between container">
      <Logo />
      <ul class="hidden md:flex items-center justify-center gap-5">
        {navbarLinks.map((element) => (
          <NavbarLink href={element.href} text={element.text} />
        ))}
      </ul>
      <div class="flex items-center gap-5">
        <ChangeLocalePopover currentLang={currentLang} currentPath={Astro.url.pathname} client:load/>
        <ToggleTheme client:only />
      </div>
    </div>
  </div>
</header>
