---
import { GITHUB_URL } from "$/utils/constants";
import { GithubIcon } from "$icons/index";
---

<a
  href={GITHUB_URL}
  target="_blank"
  rel="noopener noreferrer"
  class="text-muted-foreground hover:text-foreground transition-colors"
  aria-label="Open github profile"
>
  <GithubIcon class="h-6 w-6" />
</a>
