---
import { LinkedinIcon } from "$icons/index";
import { LINKEDIN_URL } from "$utils/constants";
---

<a
  href={LINKEDIN_URL}
  target="_blank"
  rel="noopener noreferrer"
  class="text-muted-foreground hover:text-foreground transition-colors"
  aria-label="Open linkedin profile"
>
  <LinkedinIcon class="h-6 w-6" />
</a>
