---
import { Image } from 'astro:assets';
import ProfileImage from '$images/profile.jpg';
import { useTranslations } from '$/i18n/utils';
import { EAppLanguages } from '$/i18n/types';

const currentLanguage = (Astro.currentLocale ?? EAppLanguages.ENGLISH) as EAppLanguages;

const translate = useTranslations(currentLanguage);
---

<section id="about" class="py-20 px-6" aria-label="About me section for landing page">
  <div class="max-w-4xl mx-auto">
    <div class="grid md:grid-cols-2 gap-12 items-center">
      <div>
        <h2 class="text-3xl font-bold mb-6 text-balance">{translate("components.shared.ui.navbar.about")}</h2>
        <div class="space-y-4 text-muted-foreground leading-relaxed text-justify">
          <p>
            { translate("pages.aboutMe.aboutMe1") }
          </p>
          <p>
            { translate("pages.aboutMe.aboutMe2") }
          </p>
          <p>
            { translate("pages.aboutMe.aboutMe3") }
          </p>
        </div>
      </div>

      <div class="relative">
        <div class="aspect-square bg-gradient-to-br from-primary/20 to-accent/20 rounded-2xl flex items-center justify-center">
          <Image src={ProfileImage} alt="A super sensual pic of me" class="rounded-2xl" aria-label="A pic of me as a software developer"/>
        </div>
      </div>
    </div>
  </div>
</section>
