---
import { EAppLanguages } from "$/i18n/types";
import { useTranslations } from "$/i18n/utils"
import { Button } from "$lib/components/ui/button";
import { MailIcon } from "$icons/index";
import ScrollButton from "./ScrollButton.svelte";
import GithubLink from "$components/shared/ui/github/GithubLink.astro";
import LinkedinLink from "$components/shared/ui/linkedin/LinkedinLink.astro";
import enCv from "$cv/DiazJesus_CV_EN.pdf";
import esCv from "$cv/DiazJesus_CV_ES.pdf";

const currentLang = (Astro.currentLocale ?? EAppLanguages.ENGLISH) as EAppLanguages;

const translations = useTranslations(currentLang);

const cvHref = currentLang === EAppLanguages.SPANISH ? esCv : enCv;

---

<section class="min-h-screen flex items-center justify-center px-6 pt-20" aria-label="Hero section for landing page">
  <div class="max-w-4xl mx-auto text-center">
    <div class="mb-6">
      <p class="text-muted-foreground mb-2 font-mono">{ translations("pages.hero.helloThere") }</p>
      <h1 class="text-4xl md:text-6xl font-bold mb-4 text-balance">
        <span class="gradient-text">Jesus Diaz</span>
      </h1>
      <h2 class="text-2xl md:text-3xl font-semibold text-muted-foreground mb-6">{translations("pages.hero.fullStackDeveloper")}</h2>
    </div>

    <p class="text-lg md:text-xl text-muted-foreground max-w-2xl mx-auto mb-8 text-pretty leading-relaxed">
      { translations("pages.hero.description") }
    </p>

    <div class="flex flex-col sm:flex-row items-center justify-center gap-4 mb-12">
      <Button size="lg" class="font-semibold cursor-pointer" asChild>
        <a href="#experience">
          { translations("pages.hero.myJob") }
        </a>
      </Button>
      <Button variant="outline" size="lg" class="cursor-pointer" asChild>
        <a href={cvHref} download>
          { translations("pages.hero.downloadCv") }
        </a>
      </Button>
    </div>

    <div class="flex items-center justify-center space-x-6 mb-12">
      <GithubLink />
      <LinkedinLink />
      <a href="mailto:tu@email.com" class="text-muted-foreground hover:text-foreground transition-colors">
        <MailIcon class="h-6 w-6" />
      </a>
    </div>

    <ScrollButton client:load/>
  </div>
</section>
