---
import Navbar from '$ui/navbar/Navbar.astro';
import { EThemeEnum } from '$/components/shared/ui/theme/types';

import "$styles/global.css";

const theme = Astro.cookies.get("theme")?.value ?? EThemeEnum.LIGHT;
---

<html lang="en" class={theme}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
