---
import Navbar from '$ui/navbar/Navbar.astro';
import { ETheme, THEME_NAME } from '$/components/shared/ui/theme/types';

import "$styles/global.css";
import { EAppLanguages } from '$/i18n/types';

const theme = Astro.cookies.get(THEME_NAME)?.value ?? ETheme.LIGHT;

const currentLang = Astro.currentLocale || EAppLanguages.ENGLISH;
---

<html lang={currentLang} class={theme}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
